<style>h1 {
    margin-top: 40px;
    font-size: 40px;
}</style>

<%- include('./partials/header') %>
<form action="/flights/new" method="GET">
<h1>Airport Registry</h1>

<button type="submit">Add a Flight</button>
</form>
<%- include('./partials/footer') %>